/*
to do list
1. background color for header
2. h1 in the center of the header
3. remove of the decoration of the text
4. horizantal list
5. make the image smaller
6. change the style of the p

*/

header {
    background-color: rgba(240,164,20,0.5)
}
h1{
    text-align: center;
}
header nav ul {
    list-style: none;
}
header nav ul li{
    display: inline;
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
}
img{
    width: 50%;
    margin: 20px;
}
#colored {
    color: red;
}